@font-face {
	font-family: "Anybody";
	src: url("../public/fonts/anybody/Anybody[ital\,wdth\,wght].ttf") format("trueType");
}

@font-face {
	font-family: "Ptolemy";
	src: url("../public/fonts/ptolemy/ptolemy.otf") format("opentype");
}

@font-face {
	font-family: "Syne";
	src: url("../public/fonts/syne/Syne-VariableFont_wght.ttf") format("trueType");
}

@font-face {
	font-family: "Octuple max";
	src: url("../public/fonts/octuple/Octuple-max.ttf") format("trueType");
}